---
---

$dark-base-color: #1e1e1e;
$darker-base-color: #0d0d0d;

$dark-mode: #282828;

$darker-accent-color: #F47E7D;
$dark-accent-color:#F39082;
$accent-color: #FAA79C;
$light-accent-color: #FFCEE1;
$lighter-accent-color: #FFECD3;

$relic: orangered;
$legendary: orange;
$epic: mediumorchid;
$rare: deepskyblue;
$uncommon: greenyellow;
$normal: white;

$main-text: #727272;

@import "{{ site.theme }}";

@media (max-width: 600px) {
  .w-75{
        width:100% !important;
    }
  section {
      padding: 10px !important;
    }
}

@media print, screen and (max-width: 960px)
section {
  border: 0;
}

body {
  padding:0px;
  color:$main-text;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:$dark-base-color;
  margin:0;
  background-image: url("https://raw.githubusercontent.com/mokokoseed/mokokoseed.github.io/gh-pages/assets/Screenshot_220225_092903.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: block;
}


header {
  padding-top:10px;
  background-color: $darker-base-color;
  width: 100%;
  position: relative;
  float: none;
  height: 50px;
}

header h1 {
  margin:0;
  margin-left:40px;
  float:left;
  display:block;
}

header sub {
  margin-top: -5px;
  margin-left: 45px;
  float: left;
  display: block;
  position: absolute;
  bottom: 7px;
}

section {
  margin: auto;
  margin-bottom: auto;
  float: none;
  background-color: white;
  padding: 50px 50px;
  margin-bottom: 100px;
  min-height:80vh;
}

footer {
  width: 100%;
  position: relative;
  float: left;
  background: linear-gradient(0deg,#757BC878, #ADA7FF1A, #E0C3FC00);
  bottom: 0;
}

footer p {
  margin-top: 30px;
  color:#bbb;
}

a {
 color: $accent-color; 
}

a:hover, a:focus {
  font-weight: unset;
}

p a:hover {
  color: $darker-base-color;
  font-weight: unset;
  background-color: white;
}

h1 {
  color: $dark-accent-color; 
  font-family:Quicksand;
}

input[type="checkbox"] {
  border: 2px solid $main-text;
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  float: left;
  margin: 5px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  border-color: $dark-accent-color;
  background-color: $dark-accent-color;
}


.bg-dark {
  background-color: $darker-base-color !important;
}
.navbar-dark .navbar-brand {
  color: $accent-color;
  margin-left: 20%;
  font-family:Quicksand;
}

.ready { font-size: 1.5em; }
.ui-progressbar-value { 
  background: linear-gradient(90deg, $dark-accent-color 0%, $accent-color 49%, $lighter-accent-color 100%); 
}
.progressbar-container {
  position: relative;
  width: 100%; 
  height: 40px;
}

.ui-progressbar .ui-progressbar-value {
  margin: 0;
  height: 100%;
  border: none;
}

.progressbar-bar {
  height: 15px;
  margin: 10px 0;
  border-radius: 50px;
}

.ui-widget-content {
  border: 1px solid #f2f2f2;
  background: #f9f7f7;
  color: #222222;
}

.progressbar-label {
  position: absolute;
  left: 45%;
  z-index: 2;
  top: 15px;
}

.npc-icon {
  width: 50px;
  height: 50px;
  min-width:50px;
}

.npc-icon-column {
  width:35px;
}

.no-sort::after { 
  display: none!important; 
}

.no-sort { 
  pointer-events: none!important; cursor: default!important; 
}

#footer-logo {
  font-size: 600%;
  font-family: Quicksand;
  font-weight: 200;
  float: left;
  margin-left: 50px;
  color: $main-text;
  border-right: solid thin $accent-color;
  margin-right: 50px;
  padding-right: 50px;
}

#footer-logo-icon {
  position: relative;
  float: right;
  margin-right: 20%;
  margin-top: -110px;
  width: 125px;
  height: 115px;
  object-fit: cover;
  object-position: top;
}

.complete td {
  opacity: 0.5;
  text-decoration: line-through;
}
.complete.odd, .complete.even {
  background-color: #f0f0f0 !important;
  border-bottom: 0px;
  opacity: 0.4;
}

th {
  font-family: Quicksand;
}

.group {
  background-color: rgb(32, 32, 32) !important;
  color: $lighter-accent-color;
  font-family: Quicksand;
  font-weight: 500;
  font-size: medium;
  cursor: pointer;
}

table {
  width:100% !important;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: transparent;
}

table.dataTable tbody tr {
  background-color: #fff;
}

td i {
  font-size: 24px;
}

.la-times {
  color: #e1e1e1;
}

.la-check {
  color: #8bd08b;
}

.la-compass {
  color: #c6c6c6;
}

.lost-icon {
  width: 20px;
}

.dungeon {
  color: #629fd7;
}
.coop {
  color: #216521;
}
.boss {
  color: #b81717;
}

.quest {
  color: #6b60aa;
}
.startquest {
  color: #f0bf4b;
}
.rapport {
  color: #f78ac8;
}
.rep {
  color: #a5cd58;
}
.islands-icon {
  border-radius: 50px;
  border: solid #ddd;
  width: 55px;
}
.hidden {
  display:none;
}

.dropdown-item img {
  width: 20px;
}
.navbar-nav .dropdown-menu {
  width: max-content;
}
.dark {
  background-color: $dark-mode !important;
  color:white;
}

.dark th, .dark td {
  border-bottom: 1px solid #282828 !important;
}

.dark table.dataTable.stripe tbody tr.odd, .dark table.dataTable.display tbody tr.odd {
  background-color: #222;
}

.dark table.dataTable.row-border tbody th, .dark table.dataTable.row-border tbody td, .dark table.dataTable.display tbody th, .dark table.dataTable.display tbody td {
  border-top: 1px solid #282828;
}

.dark tr.even {
  background-color: #222;
}

.dark .complete td {
  opacity: 0.1;
  background-color: #222;
  text-decoration: line-through;
}

.dark table td, .dark table th {
  color: white;
}

.dark table.dataTable.hover tbody tr:hover, .dark table.dataTable.display tbody tr:hover {
    background-color: #0b0b0b;
}

.dark #js-toggle-dark-mode {
  background-color: #0e0e0e;
  
  &:hover,
  &:focus {
    background-color: #2e2e2e;
  }
  
  &:focus {
    box-shadow: inset 0 0 0 2px #3F4D76;
  }
}

button {
  background-color: #FC9A70;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem; // 16px
  font-weight: 500;
  margin-top: 1rem; // 10px
  padding: 1rem 1.4rem; // 10px 14px
  
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
  
  &:hover,
  &:focus {
    background-color: #ed8a63;
  }
  
  &:focus {
    box-shadow: inset 0 0 0 2px #FC9A70;
  }
  
  + button {
    margin-left: 1rem; // 10px
  }
}

.dark label {
  display: inline-block;
  margin-bottom: .5rem;
  color: white;
}

.dark section {
  background-color: #222;
}

.dark .ui-widget-content {
  border: 1px solid #222;
  background: #353535;
  color: #222222;
}

.dark .child {
background-color: #2b2b2b;
}

.dark .group {
  background-color: #0b0b0b !important;
  color: #FFECD3;
  font-family: Quicksand;
  font-weight: 500;
  font-size: medium;
  cursor: pointer;
}

.dark table.dataTable tbody tr {
  background-color: #222;
}

.dark .islands-icon {
  border-radius: 50px;
  border: solid #3e3e3e;
  width: 55px;
}

#js-toggle-dark-mode {
  background-color: #0D0D0D;
  border: 0;
  border-radius: 4px;
  color: #6c6c6c;
  cursor: pointer;
  font-family: quicksand;
  font-size: 12px;
  font-weight: 500;
  margin-top: 0;
  padding: 5px;
}
.dark #js-toggle-dark-mode::before {
  content: "\f185";
  font-family: Line Awesome Free;
  font-size: 20px;
}

#js-toggle-dark-mode::before {
  content: "\f186";
  font-family: Line Awesome Free;
  font-size: 20px;
}

.dark .card {
background-color: #151515;
}

.dark h3, .dark h4, .dark h5, .dark h6 {
  color: #fff;
}

.dark .btn-dark {
  color: #fff;
  background-color: #222;
  border-color: #1c1c1c;
}

.dark .sorting_1, .dark .sorting_2, .dark .sorting_3, .dark .sorting_4, .dark .sorting_5 {
  background-color: inherit !important;
}

.sorting_1, .sorting_2, .sorting_3, .sorting_4, .sorting_5 {
  background-color: inherit !important;
}

.sorting_1:hover, .sorting_2:hover, .sorting_3:hover, .sorting_4:hover, .sorting_5:hover {
  background-color: inherit !important;
}

.dark .complete.odd, .dark .complete.even {
  background-color: #202020 !important;
}

.input-group {
  width:auto;
}

.form-control {
  text-align: right;
  border-left: 0;
border-right: 0;
border-top: 0;
border-bottom: 1px solid #8080801c;
  background-color: transparent;
color: inherit;
}

.form-control:focus {
  background-color: #0000;
  color: inherit;
}

.input-group-prepend .input-group-text {
  background-color: #e9ecef;
  color: inherit;
  border-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  border-color: #e9ecef;
}

.dark .input-group-prepend .input-group-text {
  background-color: #0d0d0d;
  color: inherit;
  border-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  border-color: #0d0d0d;
}

.sub-recipe-item .input-group-prepend .input-group-text {
  background-color: transparent;
  color: inherit;
  border-top: 0;
  border-right: 0;
  border-radius: 0;
  border-color: $darker-accent-color;
  border-bottom-left-radius: 15px;
  font-size: 0.8rem;
}
.input-group-text.relic {
  color: $relic !important;
}
.sub-recipe-item .input-group-text.relic {
  border-color: $relic !important;
}

.input-group-text.legendary {
  color: $legendary !important;
}
.sub-recipe-item .input-group-text.legendary {
  border-color: $legendary !important;
}

.input-group-text.epic {
  color: $epic !important;
}
.sub-recipe-item .input-group-text.epic {
  border-color: $epic !important;
}

.input-group-text.rare {
  color: $rare !important;
}
.sub-recipe-item .input-group-text.rare {
  border-color: $rare !important;
}

.input-group-text.uncommon {
  color: $uncommon !important;
}
.sub-recipe-item .input-group-text.uncommon {
  border-color: $uncommon !important;
}

.input-group-text.normal {
  color: $normal !important;
}
.sub-recipe-item .input-group-text.normal {
  border-color: $normal !important;
}
