---
---

$dark-base-color: #1e1e1e;
$darker-base-color: #0d0d0d;
$darker-accent-color: #757BC8;
$dark-accent-color:#8E94F2;
$accent-color: #ADA7FF;
$light-accent-color: #CBB2FE;
$lighter-accent-color: #E0C3FC;
$main-text: #727272;

@import "{{ site.theme }}";

body {
  padding:0px;
  color:$main-text;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:$dark-base-color;
  margin:0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: block;
}


header {
  padding-top:10px;
  background-color: $darker-base-color;
  width: 100%;
  position: relative;
  float: none;
  height: 50px;
}

header h1 {
  margin:0;
  margin-left:40px;
  float:left;
  display:block;
}

header sub {
  margin-top: -5px;
  margin-left: 45px;
  float: left;
  display: block;
  position: absolute;
  bottom: 7px;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 840px;
  margin: auto;
  float:none;
}

footer {
  width: 100%;
  position: relative;
  float: left;
  background: linear-gradient(0deg,#757BC878, #ADA7FF1A, #E0C3FC00);
  bottom: 0;
}

footer p {
  margin: 5em;
}

a {
 color: $accent-color; 
}

p a:hover, a:focus {
  color: $darker-base-color;
  font-weight: unset;
  background-color: white;
}

h1 {
  color: $dark-accent-color; 
  font-family:Quicksand;
  text-transform:uppercase;
}

input[type="checkbox"] {
  border: 2px solid $main-text;
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  float: left;
  margin: 5px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  border-color: $dark-accent-color;
  background-color: $dark-accent-color;
}

#menu-button {
width:100px;
height:100px;
background-color:$darker-base-color;
outline:none;
cursor:pointer;
}

nav {
display:none;
}

#menu-button:focus + nav{
display:block;
}
