---
---

$dark-base-color: #1e1e1e;
$darker-base-color: #0d0d0d;
$darker-accent-color: #757BC8;
$dark-accent-color:#8E94F2;
$accent-color: #ADA7FF;
$light-accent-color: #CBB2FE;
$lighter-accent-color: #E0C3FC;
$main-text: #727272;

@import "{{ site.theme }}";

body {
  padding:0px;
  color:$dark-base-color;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:$dark-base-color;
  margin:0;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  display: block;
}


header {
  padding-top:50px;
  background-color: $darker-base-color;
  width: 100%;
  position: relative;

}

section {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 840px;
  margin: auto;
}

footer {
  width: 100%;
  position: relative;
  float: left;
  padding: 50px;
  background-color: $darker-base-color;
}

a {
 color: $accent-color; 
}
