<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/628c8d2499.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">Mokoko Seed</a></h1>
        <p><sub>WHERE TOOKI?</sub></p>
        
        <nav id="menu">
        {% for item in site.data.menu.toc %}
          <div class="menu-item">
            <div class="menu-text"><a href="#">{{ item.title }}</a></div>
            <div class="sub-menu">
                {% for entry in item.subfolderitems %}
                  <div class="icon-box">
                    <div class="icon">
                      <i class="far fa-satellite"></i>
                    </div>
                    <div class="text">
                        <div class="title">
                          <a href="{{ entry.url }}">{{ entry.page }}</a>
                        </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
          </div>
        {% endfor %}
        </nav>
        
      </header>
      <section>

      {{ content }}

      </section>
    
      <div class="border">
      <footer>
          <p>This project is maintained by <a href="http://instagram.com/gamingbunny.exe">Sanitee#1093</a> from the US West - Mari Server.</p>
          <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
      </div>
    </div>
    <script>
      $(document).ready( function () {
          $('#sortTable').DataTable();
      } );
    </script>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
